<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-row">
    <div class="col-md-4 mb-3">
      <%= f.label :number %><br>
      <%= f.text_field :number, class: 'form-control'%>
    </div>
    <div class="col-md-4 mb-3">
      <%= f.label :tracking_id, 'Tracking ID' %><br>
      <%= f.text_field :tracking_id, class: 'form-control' %>
    </div>
  </div>

  <div class="field">
    <%= f.fields_for :address, @order.address || Address.new do |af| %>
    <%= render 'addresses/address_fields', f: af %>
    <% end %>
  </div>

  <div class="form-row">
    <div class="col-md-4 mb-3">
      <div class="field">
        <%= f.label :total, 'Total (cents)' %><br>
        <%= f.number_field :total, class: 'form-control' %>
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <div class="field">
        <%= f.label :vendor_id %><br>
        <%= f.collection_select :vendor_id, Vendor.order(:name),:id,:name, {include_blank: true}, {class: "form-control selectpicker", data: {"live-search": true}} %>
      </div>
    </div>

  <div class="form-row">
    <div class="col-md-4 mb-3">
      <div class="actions">
        <%= f.submit class: 'btn btn-primary' %><br>
      </div>
    </div>
  </div>
  </div>
<% end %>
<br>
