<div>
  <h1>Orders</h1><%= link_to 'New Order', new_order_path, class: 'btn btn-primary btn-right' %>
</div>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Progress</th>
      <th scope="col">Tracking ID</th>
      <th scope="col">Tracking status</th>
      <th scope="col">Number</th>
      <th scope="col">Address</th>
      <th scope="col">Vendor</th>
      <th scope="col">Total</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
      <tr class="<%= order.color_indicator %>" data-href="<%= edit_order_path(order)%>">
        <td class='clickable-cell' scope="row"><%= order.status.humanize %></td>
        <td class='clickable-cell' scope="row"><%= order.tracking_id.upcase %></td>
        <td class='clickable-cell' scope="row"><%= order.tracking_status.humanize %></td>
        <td class='clickable-cell' scope="row"><%= order.number.upcase %></td>
        <td class='clickable-cell' scope="row"><%= order.address.state_zip %></td>
        <td class='clickable-cell' scope="row"><%= order.vendor.name %></td>
        <td class='clickable-cell' scope="row"><%= number_to_currency(order.dollar_total) %></td>
        <td scope="row"><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
