<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @order.number %>
</p>

<p>
  <strong>Tracking ID:</strong>
  <%= @order.tracking_id %>
</p>

<p>
  <strong>Total:</strong>
  <%= @order.total %>
</p>

<p>
  <strong>Address:</strong>
  <%= render 'addresses/show', address: @order.address %>
</p>

<p>
  <strong>Vendor:</strong>
  <%= @order.vendor.name %>
</p>

<p>
  <strong>Status:</strong>
  <%= @order.status %>
</p>

<p>
  <strong>Tracking status:</strong>
  <%= @order.tracking_status %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
