<div class="form-row">
  <div class="col-md-4 mb-3">
    <div class="field">
      <%= f.label :street %><br>
      <% class_str = @error_keys.include?(:"address.street") ? 'form-control is-invalid' : 'form-control' %>
      <%= f.text_field :street, class: class_str %>
    </div>
  </div>
  <div class="col-md-4 mb-3">
    <div class="field">
      <%= f.label :street2 %><br>
      <%= f.text_field :street2,  class: 'form-control' %>
    </div>
  </div>
</div>

<div class="form-row">
  <div class="col-md-4 mb-3">
    <div class="field">
      <%= f.label :city %><br>
      <% class_str = @error_keys.include?(:"address.city") ? 'form-control is-invalid' : 'form-control' %>
      <%= f.text_field :city,  class: class_str %>
    </div>
  </div>
  <div class="col-md-4 mb-3">
    <div class="field">
      <%= f.label :state %><br>
      <% class_str = @error_keys.include?(:"address.state") ? 'form-control is-invalid' : 'form-control' %>
      <%= f.text_field :state,  class: class_str%>
    </div>
  </div>
  <div class="col-md-4 mb-3">
    <div class="field">
      <% class_str = @error_keys.include?(:"address.zip_code") ? 'form-control is-invalid' : 'form-control' %>
      <%= f.label :zip_code %><br>
      <%= f.text_field :zip_code,  class: class_str %>
    </div>
  </div>
</div>