<div class="form-row">
  <div class="col-md-4 mb-3">
    <div class="field">
      <%= f.label :street %><br>
      <%= f.text_field :street, class: 'form-control' %>
    </div>
  </div>
  <div class="col-md-4 mb-3">
    <div class="field">
      <%= f.label :street2 %><br>
      <%= f.text_field :street2,  class: 'form-control' %>
    </div>
  </div>
</div>

<div class="form-row">
  <div class="col-md-4 mb-3">
    <div class="field">
      <%= f.label :city %><br>
      <%= f.text_field :city,  class: 'form-control' %>
    </div>
  </div>
  <div class="col-md-4 mb-3">
    <div class="field">
      <%= f.label :state %><br>
      <%= f.text_field :state,  class: 'form-control' %>
    </div>
  </div>
  <div class="col-md-4 mb-3">
    <div class="field">
      <%= f.label :zip_code %><br>
      <%= f.text_field :zip_code,  class: 'form-control' %>
    </div>
  </div>
</div>