<p>
  <strong>Street:</strong>
  <%= address.street %>
</p>

<p>
  <strong>Street2:</strong>
  <%= address.street2 %>
</p>

<p>
  <strong>City:</strong>
  <%= address.city %>
</p>

<p>
  <strong>State:</strong>
  <%= address.state %>
</p>

<p>
  <strong>Zip code:</strong>
  <%= address.zip_code %>
</p>